<h1>Blog</h1>
<%= link_to 'New Post', new_blogpost_path %>

<% @blogposts.each do |blogpost| %>
<div class="container">
  <div class="row">
    <div class="span6 offset2">
      <h3><%= blogpost.title %><h3>
        <h5 style="color:black;font-weight:300"> <%= blogpost.content %> </h5>
    </div>

    <div class="span2">
      <ul class="nav nav-list">
        <li class="nav-header"> Post </li>
        <li><%= link_to 'Show', blogpost %></li>
        <li><%= link_to 'Edit', edit_blogpost_path(blogpost) %></li>
        <li><%= link_to 'Destroy', blogpost, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
      </ul>
    </div>
</div>
<% end %>